{% load socialaccount i18n %}


<div class="container has-text-centered has-background-black has-text-white">
{% if user.pk == watchlist_owner.pk %}
  <p class="title has-text-light">
    {% trans 'Going to watch:' %}
  </p>
  <div class="buttons is-centered">
    <a class="button is-primary" href="{% url 'movies:addmovie' %}">
      <strong>{% trans 'Add movie/series' %}</strong>
    </a>
  </div>

{% endif %}
<div class="media">
  <div class="media-left">
    <input class="input is-hovered" type="text" placeholder="Search">
  </div>
</div>
{% for user_movie in watchlist %}
  <article class="media has-text-left">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src=/media/{{user_movie.movie.poster}}>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="title is-3 has-text-white">
          {{user_movie.movie.title}}
        </p>
        <p class="subtitle is-5">
          <small>{{user_movie.movie.description}}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <form action="{% url 'movies:add-like' movie_pk=user_movie.pk watchlist_owner_uid=watchlist_owner.uid %}" method="POST">
        {% csrf_token %}
      <button class="button is-medium is-black" type="submit" href="" value="add">
        <span class="icon">
          <i class="fi fi-bs-popcorn"></i>
        </span>
        <strong>{{ user_movie.likes_count }}</strong>
      </button>
      </form>
    </div>
  </article>
{% endfor %}
</div>
