html {
    min-height:100vh;
}

body {
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  min-height: 100vh;

  /* For gluing the footer to the bottom */
  display: flex;
  flex-direction: column;
}

.content, .card-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navbar-item img {
  max-height: 2.5rem;
}

.card-container{
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  transition: 0.2s;
}

div.card:hover {
  background-color: #0009;
}

div.card:hover p {
  color: white;
}

div.pagination {
  margin-left: auto;
  margin-right: auto;
}
